#content {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

.divider {
  width: 100px;
  height: auto;
  display: inline-block;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.image-link img {
  opacity: 0.6;
  transition: 0.3s;
}

.image-link img:hover {
  opacity: 1;
}


.image-link {
  text-decoration: none;
}


.profile {
  opacity: 1;
}

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #B3A369;
  color: white;
}

.topnav a.active {
  background-color: #B3A369;
  color: white;
}
