#content {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #B3A369;
  color: white;
}

.topnav a.active {
  background-color: #B3A369;
  color: white;
}

.logos {
  position: fixed;
  top: 20%;
  left: 40%;
  margin-left: auto;
  margin-right: auto;
  right: auto;
  display: inline-block;
}

.divider {
  width: 80px;
  height: auto;
  display: inline-block;
}
